<app-header></app-header>
<main>
    <section id="generoSection1">
        <div id="imgTitulo">
            <h3>Gênero</h3>
            <img src="../../assets/Imagens/teatro.svg">
        </div>
        <form>
            <div>
                <label for="cadastroGenero">Cadastrar Gênero</label>
                <input type="text" id="cadastroGenero">
            </div>
            <button id="botaoSalvar">Salvar</button>
        </form>
    </section>
    <section id="generoSection2">
        <div class="generoCard">
            <div class="gCardDiv1">
                <span>Terror</span>
            </div>
            <div class="gCardDiv2">
                <button class="botaoEditar">Editar</button>
                <button class="botaoExcluir">Excluir</button>
            </div>
        </div>
        <div class="generoCard">
            <div class="gCardDiv1">
                <span>Ação</span>
            </div>
            <div class="gCardDiv2">
                <button class="botaoEditar">Editar</button>
                <button class="botaoExcluir">Excluir</button>
            </div>
        </div>
        <div class="generoCard">
            <div class="gCardDiv1">
                <span>Comédia</span>
            </div>
            <div class="gCardDiv2">
                <button class="botaoEditar">Editar</button>
                <button class="botaoExcluir">Excluir</button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>