<header>
    <div id="headerDiv">
        <div id="headerLogo">
            <img src="../../assets/Imagens/logoheader.svg">
            <div>
                <h2>FILMES</h2>
                <h4>Collection</h4>
            </div>
        </div>
        <h2 id="headerTexto">Conheça nossa Coletânia</h2>
    </div>
    <ul id="menu">
        <li><a routerLink="../home">Home</a></li>
        <li><a routerLink="../usuarios">Usuários</a></li>
        <li><a routerLink="../filmes">Filmes</a></li>
        <li><a routerLink="../genero">Gêneros</a></li>
    </ul>
</header>
