<footer>
    <section id="footerLogo">
        <img src="../../assets/Imagens/logofooter.svg">
        <div>
            <h2>FILMES</h2>
            <h4>Collection</h4>
        </div>
    </section>
    <hr>
    <section id="footerInfo">
        <span>
            Company Inc., 8901 Marmora Road, Glasgow, D04 89GR
        </span>
        <span>
            Call us now tell free: (800)2345-6789
        </span>
        <span>
            Customer support: support@demolink.org
        </span>
        <span>
            Skype: sample-username
        </span>
    </section>
</footer>