<app-header></app-header>
<main>
    <section id="filmeSection1">
        <div id="imgTitulo">
            <h3>Filmes</h3>
            <img src="../../assets/Imagens/cinema.svg">
        </div>
        <form>
            <div>
                <label for="cadastroFilmes">Cadastrar Filmes</label>
                <input type="text" id="cadastroFilmes">
            </div>
            <select name="genero" id="genero">
                <option hidden>Gênero</option>
                <option value="acao">Ação</option>
                <option value="comedia">Comédia</option>
                <option value="drama">Drama</option>
                <option value="romance">Romance</option>
                <option value="suspense">Suspense</option>
                <option value="terror">Terror</option>
            </select>
            <button id="botaoSalvar">Salvar</button>
        </form>
    </section>
    <section id="filmeSection2">
        <div class="filmeCard">
            <div class="fCardDiv1">
                <span>Os Outros</span>
                <div>
                    <span>Terror</span>
                </div>
            </div>
            <div class="fCardDiv2">
                <button class="botaoEditar">Editar</button>
                <button class="botaoExcluir">Excluir</button>
            </div>
        </div>
        <div class="filmeCard">
            <div class="fCardDiv1">
                <span>Até o último homem</span>
                <div>
                    <span>Ação</span>
                </div>
            </div>
            <div class="fCardDiv2">
                <div class="fCardButton">
                    <button class="botaoEditar">Editar</button>
                    <button class="botaoExcluir">Excluir</button>
                </div>
            </div>
        </div>
        <div class="filmeCard">
            <div class="fCardDiv1">
                <span>O Máscara</span>
                <div>
                    <span>Comédia</span>
                </div>
            </div>
            <div class="fCardDiv2">
                <div class="fCardButton">
                    <button class="botaoEditar">Editar</button>
                    <button class="botaoExcluir">Excluir</button>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>