<app-header></app-header>
<main>
    <section id="filmeSection1">
        <div id="imgTitulo">
            <h3>Filmes</h3>
            <img src="../../assets/Imagens/cinema.svg">
        </div>
        <form [formGroup]="form" (submit)="cadastrarFilme()">
            <div>
                <label for="cadastroFilmes">Cadastrar Filmes</label>
                <input formControlName="nome" type="text" name="nome" id="cadastroFilmes">
            </div>
            <select formControlName="genero" name="genero" id="genero">
                <option *ngFor="let i of genero" value="{{i.nome}}">{{i.nome}}</option>
            </select>
            <button type="submit" id="botaoSalvar">Salvar</button>
        </form>
    </section>
    <section id="filmeSection2">
        <div *ngFor="let i of card" class="filmeCard">
            <div class="fCardDiv1">
                <span>{{i.nome}}</span>
                <div>
                    <span>{{i.genero}}</span>
                </div>
            </div>
            <div class="fCardDiv2">
                <button class="botaoEditar" mat-raised-button (click)="editarFilme(i.id)">Editar</button>
                <button class="botaoExcluir" (click)="removerFilme(i.id)">Excluir</button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
