<app-header></app-header>
<main>
    <section id="homeSection1">
        <h1>Monte sua coletânia de filmes...</h1>
        <article>
            <h3 id="homeSubtitulo">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas velit placeat quasi vitae
            </h3>
            <span id="descricaoArtigo">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum quos neque a reiciendis. Veritatis quod iusto recusandae, iste suscipit quae ex facilis doloribus quisquam, quas deserunt aliquid ipsa officiis sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum quos neque a reiciendis. Veritatis quod iusto recusandae, iste suscipit quae ex facilis doloribus quisquam, quas deserunt aliquid ipsa officiis sit.
            </span>
        </article>
    </section>
    <section id="homeSection2">
        <div class="homeCard">
            <img src="../../assets/Imagens/cinema.svg">
            <div>
                <h3>Filmes</h3>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel mollitia ipsum id nostrum doloribus eaque alias porro fugit quam eos fugiat quidem odit, quibusdam enim, facere adipisci obcaecati ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </span>
            </div>
        </div>
        <div class="homeCard">
            <img src="../../assets/Imagens/teatro.svg">
            <div>
                <h3>Categoria</h3>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel mollitia ipsum id nostrum doloribus eaque alias porro fugit quam eos fugiat quidem odit, quibusdam enim, facere adipisci obcaecati ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </span>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
